{% extends "base2.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="card text-center" style="width: 26rem; margin:auto;">
        <div class="card-header">
            <h1>{% trans "Sign Up" %}</h1>
        </div>
        <div class="card-body">

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                .{% endblocktrans %}</p>

            <form class="signup form-group" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input class="form-control" type="hidden" name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
{% endblock %}
