{% extends 'base2.html' %}
{% load static %}

{% block head_title %}
    Kuulutaja
{% endblock head_title %}

{% block content %}

    <div class="jumbotron mt-5">
        <h1 class="display-3">Kuulutaja classified ads website</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
        <hr class="my-4">
        <p>To add your own advertisement you need to create a new account or log in with an existing one.</p>
        <p class="lead">
            <a href="{% url 'account_login' %}" class="btn btn-primary text-mono btn-sm btn-secondary">Create a new account</a>
        </p>
    </div>


    {#        {% for item, info in annotated_list %}#}
    {#            {{ item }}#}
    {#        {% endfor %}#}

    {#        {{ annotated_list }}#}

    {#    <div style="display: flex; flex-direction: row; align-content: space-between; flex-wrap: wrap;justify-content: space-between; margin: 5rem 0">#}
    {#        {% for item, info in annotated_list %}#}
    {#            {% if info.level == 0 %}#}
    {#                <div class="card bg-primary text-white" style="width: 18rem;">#}
    {#                <div class="card-body">#}
    {#                <ul class="list-unstyled">#}
    {#            {% endif %}#}
    {#        {% if info.level == 1 %}#}
    {#            <h5 class="card-title">{{ item }}</h5>#}
    {#        {% elif info.level == 2 %}#}
    {#            <a href="/category/{{ item.slug }}">#}
    {#                <li class="text-white">{{ item }}</li>#}
    {#            </a>#}
    {#        {% elif info.level == 2 and info.open %}#}
    {#            <ul>#}
    {#                <a href="">#}
    {#                    <li class="text-white">{{ item }}</li>#}
    {#                </a>#}
    {#                {% elif info.level == 2  and not info.open %}#}
    {##}
    {#                <a href="">#}
    {#                    <li class="text-white">{{ item }}</li>#}
    {#                </a>#}
    {#            </ul>#}
    {#        {% endif %}#}
    {##}
    {##}
    {##}
    {#        {% if 1 in info.close %}#}
    {#            </ul></div></div>#}
    {#        {% elif  2 in info.close %}#}
    {#            </ul></ul></div></div>#}
    {#        {% elif 0 in info.close %}#}
    {#            </ul></div></div>#}
    {#            <div class="card bg-primary text-white" style="width: 18rem;">#}
    {#            <div class="card-body">#}
    {#            <ul class="list-unstyled">#}
    {#        {% endif %}#}
    {#        {% endfor %}#}
    {#        </div>#}
    <h2 class="mt-5">Categories</h2>
    <div class="card mb-5">
        <div class="card-body"
             style="display: flex; flex-direction: row; align-content: space-between; flex-wrap: wrap;justify-content: space-between;">
            {% for item, info in annotated_list %}
                {% if info.level == 0 %}
                    <div class="list-group">
                {% endif %}
            {% if info.level == 1 %}
                <h5 class="card-title">{{ item }}</h5>
            {% elif info.level == 2 %}
                <a href="/category/{{ item.slug }}">
                    {{ item }}
                </a>
            {% elif info.level == 2 and info.open %}
                <ul>
                    <a href="">
                        {{ item }}
                    </a>
                    {% elif info.level == 2  and not info.open %}

                    <a href="">
                        {{ item }}
                    </a>
                </ul>
            {% endif %}



            {% if 1 in info.close %}
                </div>
            {% elif  2 in info.close %}
                </div></div>
            {% elif 0 in info.close %}
                </div>
                <div class="list-group">
            {% endif %}
            {% endfor %}
            </div></div>



    <h2>Latest advertisements</h2>
    <div class="card-columns">
        {% for ad in ads %}

            <div class="card">
                <a href="advertisement/{{ ad.slug }}">
                    <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                    {#                    <img src="{% static ad.advertisement.first.image.url %}" alt="">#}
                    <div class="card-header">
                        <h5 class="text-white h5">{{ ad.name }} </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-white-50">
                            {{ ad.content|truncatewords:10 }}
                        </p>
                    </div>
                    <div class="card-footer justify-content-between d-flex">
                        {% if ad.price != "." %}
                            <span style="font-weight: bold">
                            <i class="fas fa-euro-sign"></i> {{ ad.price }}
                            </span>
                        {% endif %}
                        <small class="text-muted"><i class="fas fa-eye"></i> {{ ad.views }}</small>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>



{% endblock content %}

