{% extends 'base2.html' %}
{% load static %}

{% block head_title %}
    Profile: {{ user }}
{% endblock head_title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-3">
                <div class="card text-center">
                    <div class="card-header">

                        {% if profile.image %}
                            <div class="mx-auto" style="width: 150px;
                                    height: 150px;
                                    border: 1px solid #11111d;
                                    border-radius: 100px;
                                    background-image: url('{{ profile.image.url }}');
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    background-position:center; "></div>
                        {% else %}
                            <div class="mx-auto" style="width: 150px;
        height: 150px;
        border: 1px solid #11111d;
        border-radius: 100px;
        background-image: url('https://via.placeholder.com/150');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:center; "></div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ user }} </h5>
                        <div class="m-2">
                            {% if profile.bio %}
                                <small class="text-white-50">{{ profile.bio }}</small>
                            {% else %}
                                <small class="text-white-50">Few lines describing you.</small>
                            {% endif %}
                        </div>

                        <a href="{% url 'profile-update' %}" class="btn btn-outline-info btn-sm"><i
                                class="fas fa-edit"></i> Edit biography</a>
                    </div>
                </div>

                <ul class="list-group mt-4">
                    <li class="list-group-item"><a href="{% url 'profile' %}" class="text-primary"><i
                            class="fas fa-ad text-white-50 mr-2"></i>My advertisements</a></li>
                    <li class="list-group-item"><a href="{% url 'profile-email' %}" class="text-primary"><i
                            class="fas fa-envelope text-white-50 mr-2"></i>Email</a></li>
                    <li class="list-group-item"><a href="{% url 'profile-password' %}" class="text-primary"><i
                            class="fas fa-key text-white-50 mr-2"></i>Password</a></li>
                    <li class="list-group-item"><a href="{% url 'profile-settings' %}" class="text-primary"><i
                            class="fas fa-cogs text-white-50 mr-2"></i>Settings</a></li>
                    <li class="list-group-item"><a href="{% url 'profile-privacy' %}" class="text-primary"><i
                            class="fas fa-user-secret text-white-50 mr-2"></i>Privacy</a></li>
                </ul>

            </div>
            <div class="col-9">
                {% block profile_content %}
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" id="today">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="week">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="month">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="year" tabindex="-1" aria-disabled="true">Year</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            {#                        <h5 class="card-title">This month</h5>#}
                            <canvas id="myChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header d-flex justify-content-between align">
                            <h5 class="h5 mt-auto mb-auto">My advertisements</h5>
                            <a href="{% url 'ad-create' %}" class="btn btn-primary"><i
                                    class="fas fa-plus text-white-50 mr-3"></i>Add new</a>
                        </div>
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Views</th>
                                <th>Created</th>
                                <th>Control</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for advert in my_adverts %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="text-white-50">{{ advert.name }}</td>
                                    <td class="text-white-50">{{ advert.views }}</td>
                                    <td class="text-white-50">{{ advert.created }}</td>

                                    <td>
                                        <div class="btn-group">
                                            <a href="{% url 'ad-detail' advert.pk %}" class="btn btn-outline-info btn-sm"><i
                                                    class="fas fa-binoculars"></i>
                                                View</a>
                                            <a href="{% url 'ad-update' advert.pk %}" class="btn btn-outline-secondary btn-sm"><i
                                                    class="fas fa-edit"></i> Edit</a>
                                            <a href="{% url 'ad-delete' advert.pk %}" class="btn btn-outline-danger btn-sm"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endblock profile_content %}
            </div>

        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        $("#day").click(function () {
            $("#day").toggleClass("active")
        })
    </script>
{% endblock scripts %}

