{% extends 'users/profile.html' %}
{% load static %}

{% block head_title %}
    Profile: {{ user }}
{% endblock head_title %}

{% block profile_content %}

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header d-flex justify-content-between align">
            <h5>Password</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Change your password</li>
        </ul>

    </div>


{% endblock profile_content %}

