{% extends 'users/profile.html' %}
{% load static %}

{% block head_title %}
    Profile: {{ user }}
{% endblock head_title %}

{% block profile_content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align">
            <h5>Privacy</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Privacy policy</li>
            <li class="list-group-item">Terms of service</li>
            <li class="list-group-item">Export your data</li>
        </ul>


    </div>
{% endblock profile_content %}

